/* 전체 컨테이너 */
.movie-detail {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
 
  
  /* 상세 정보 */
  .movie-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: #222;
    margin-top: -100px; 
    z-index: 1;
  }
  
  .movie-poster img {
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .movie-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .movie-info h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
  }
  
  .movie-genres {
    font-size: 1rem;
    color: #ddd;
  }
  
  .movie-overview {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
  }
  